<section class="row justify-content-center py-3 mb-5 bg-primary">
  <div class="col-md-6 text-center">
    <h2 class="text-light">Présentation de la formation</h2>
    <h3 class="text-secondary"><%= @training.title %></h3>
    <hr class="bg-light">
  </div>
</section>

<section class="row mb-5">
  <div class="col-md-6">
    <h4 class="orange_underline mb-5">Présentation de la formation</h4>
    <p><%= @training.description %></p>
    <div class="d-flex flex-column align-items-center">
      <%= link_to 'Retour catalogue', trainings_path, class:"btn btn-outline-secondary mb-2" %>
        <%if UserTraining.where(training_id: @training.id, user_id:current_user.id).exists? %>
          <%= link_to 'Retour à ma formation', user_training_path(UserTraining.where(training_id: @training.id, user_id:current_user.id).first.id), class:"btn btn-outline-secondary mt-2" %>
        <%else%>
          <%= link_to "Rejoindre", user_trainings_path(user_id: current_user.id, training_id: @training.id), method: "POST", class:"btn btn-outline-secondary mt-2" %>
        <%end%>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="orange_underline mb-5">Composition de la formation</h4>

    <div class="accordion" id="accordionTrainings">
      <% @training_details.each do |section| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=<%="#section#{section.id}"%> aria-expanded="true" aria-controls="collapseOne">
              <%= section.title %>
            </button>
          </h2>
          <div id=<%="section#{section.id}"%> class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionTrainings">
            <div class="accordion-body">
              <%= section.description %>           
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>