<section>
  <% if flash.any? %>
    <%= render 'shared/flash' %>
  <% end %>
</section>

<section class="row d-flex justify-content-center">
  <div class="col-md-8">
    <div id="title" class="my-5">
      <h3><%= @lesson.title %>
      <%if @uts_lesson.completed %>
      <i class="bi bi-check-circle-fill text-secondary"></i>
      <%end%></h3>
    </div>
    <div id="content">
      <p><%= @lesson.content %></p>
      <% if @lesson.video.attached? %>
        <%= video_tag(url_for(@lesson.video), controls: '', width: '100%') %>
      <%else %>
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/<%= @lesson.url[32..42] %>" title="Video '<%= @lesson.title %>'" allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
    <%if @lesson.documents.attached? %>
      <div id="documents" class="mt-3">
        <h3 class="orange_underline">Pièces complémentaires</h3>
        <% @lesson.documents.each do |document| %>
          <%= link_to document.filename.to_s, url_for(document), class:"btn btn-outline-primary mx-2 my-2" %>
        <% end %>
      </div>
    <%end%>
    <div id="buttons" class="d-flex my-5">
      <%= link_to "Suivant", uts_lesson_path(@uts_lesson.id), method: 'PUT', class:"btn rounded-pill bg-secondary" %>
      <%= link_to "Quitter", dashboards_path, class:"btn text-secondary" %>
    </div>
  </div>
</section>


